.App {
  margin: 15px;
}
.App-link {
  color: #61dafb;
}

.offer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.offer__column {
  display: flex;
  flex-direction: column;
}

.offer__column--w150 {
  width: 150px;
  margin-right: 20px;
}